@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 20em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

main > img {
    max-width: 100%;
    border-radius: 0.5em;
}

main > div {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main > div > h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

main > div > p {
    width: 90%;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

